.center{
    display: flex;
    align-items:center;
    flex-direction: column;
}

.center .clock{
    font-size:100px;
    -webkit-text-stroke: 2px black;
    color:rgb(233, 233, 233);
    text-shadow: 
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.center .name{
    font-size : 40px;
    margin-bottom: 40px;
    margin-top:30px;
}

.center .inputName{
    font-size:30px;
}

.center .inputName::placeholder{
    color:rgb(231, 231, 231);
}

.center .inputName:focus,
.center .inputName:active{
    outline: none;
}