@import "center.css";

body{
    background-color : rgb(25, 28, 43);
    color: #ccc;
    margin:0px;
    padding:0px;
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin:0px;
}

.frm-todo input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:30px;
    text-align: center;
}

.list-todo{
    color:rgb(0, 0, 0);
    font-size : 20px;
    padding-inline-start: 20%;
    padding-inline-end: 20%;
    list-style-type: none;
    text-align: left;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.backgroundImg{
    position: absolute;
    top : 0;
    left : 0;
    width : 100%;
    z-index: -1;
    animation: fadeIn 0.8s linear;
}

.js-temp,
.js-place{
    text-align: left;
    color:#ccc;
    font-size:20px;
}