body,
html{
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin:0px;
    padding:0px;
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    margin:0px;
}

body{
    background-size:100%;
    background-color : rgb(25, 28, 43);
    color: rgb(255, 255, 255);
    animation: fadeIn 0.8s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul{
    list-style-type: none;
    margin-top:30px;
}

input{
    background: none;
    appearance: none;
    border: 0;
    font-size: 22px;
    color: white;
    border-bottom: 2px solid white;
}

input::placeholder{
    color:white;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}


