body{
    background-color : rgb(25, 28, 43);
    margin:0px;
}

.Timer{
    /* clear:both;
    height:240px;
    position: relative; */
    text-align : center;
    padding-bottom:30px;
    
}

#Clock{
    font-size : 100px;
    margin: 0 auto;
    cursor: pointer;
    transition:color 0.5s ease-in-out;
}

.ClockNormal{
    -webkit-text-stroke: 2px black;
    color:rgb(172, 217, 255);
    text-shadow: 
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

.ClockClicked{
    color: rgb(160, 40, 40);
}

.greetings,
.nonShowing{
    display: none;
}

.welcomeText{
    color:gray;
    font-size : 30px;
    margin: 0 auto;
}

.showing{
    display: inline;
}

.frm-todo input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:30px;
    text-align: center;
}

.list-todo{
    color:rgb(0, 0, 0);
    font-size : 20px;
    padding-inline-start: 20%;
    padding-inline-end: 20%;
    list-style-type: none;
    text-align: left;
}

@keyframes fadeIn{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

.backgroundImg{
    position: absolute;
    top : 0;
    left : 0;
    width : 100%;
    z-index: -1;
    animation: fadeIn 0.8s linear;
}

.js-temp{
    text-align: left;
    color:#ccc;
    font-size:20px;
}