body{
    background-color : rgb(119, 128, 179);
    margin:0px;
}

#floater{
    float: left;
    height: 50%;
    margin-bottom:-120px;
}

.Timer{
    /* clear:both;
    height:240px;
    position: relative; */
    background-color : powderblue;
    text-align : center;
    padding-bottom:30px;
    
}

#Clock{
    font-size : 100px;
    margin: 0 auto;
    cursor: pointer;
    transition:color 0.5s ease-in-out;
}

.ClockNormal{
    color:gray;
}

.ClockClicked{
    color: rgb(160, 40, 40);
}

.greetings,
.nonShowing{
    display: none;
}

.welcomeText{
    color:gray;
    font-size : 30px;
    margin: 0 auto;
}

.showing{
    display: inline;
}

.frm-todo input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:30px;
    text-align: center;
}

.list-todo{
    color:rgb(0, 0, 0);
    font-size : 20px;
    padding-inline-start: 20%;
    padding-inline-end: 20%;
    list-style-type: none;
    text-align: left;
}